@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 5% 98%;
    --foreground: 60 5% 10%;
    --card: 60 5% 100%;
    --card-foreground: 60 5% 10%;
    --popover: 60 5% 100%;
    --popover-foreground: 60 5% 10%;
    --primary: 60 5% 64%; /* #a6a79e */
    --primary-foreground: 60 5% 10%;
    --secondary: 60 5% 92%;
    --secondary-foreground: 60 5% 10%;
    --muted: 60 5% 92%;
    --muted-foreground: 60 5% 40%;
    --accent: 60 5% 92%;
    --accent-foreground: 60 5% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 60 5% 98%;
    --border: 60 5% 90%;
    --input: 60 5% 90%;
    --ring: 220 100% 60%; /* uses --xelectric */
    --radius: 0.5rem;
    --xelectric: 220 100% 60%; /* #275eff - XEGO final highlight */
    --xelectric-foreground: 0 0% 100%;
  }

  .dark {
    --background: 60 5% 10%;
    --foreground: 60 5% 98%;
    --card: 60 5% 10%;
    --card-foreground: 60 5% 98%;
    --popover: 60 5% 10%;
    --popover-foreground: 60 5% 98%;
    --primary: 60 5% 64%; /* #a6a79e */
    --primary-foreground: 60 5% 10%;
    --secondary: 60 5% 20%;
    --secondary-foreground: 60 5% 98%;
    --muted: 60 5% 20%;
    --muted-foreground: 60 5% 70%;
    --accent: 60 5% 20%;
    --accent-foreground: 60 5% 98%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 60 5% 98%;
    --border: 60 5% 20%;
    --input: 60 5% 20%;
    --ring: 220 100% 60%; /* uses --xelectric */
    --xelectric: 220 100% 60%; /* #275eff - XEGO final highlight */
    --xelectric-foreground: 0 0% 100%;
    --xelectric-comp: 220 100% 67%;
    --xelectric-comp-foreground: 0 0% 100%;
  }
  .theme {
    --animate-ripple: ripple var(--duration,2s) ease calc(var(--i, 0)*.2s) infinite;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer components {
  .bg-xego {
    background-color: hsl(var(--xelectric-comp));
  }
  .text-xego {
    color: hsl(var(--xelectric-comp));
  }
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  @keyframes ripple {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
    }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
    }
  }
}